<div class="fixed w-full px-4 z-50 mt-20">
  <%= [info: "green", error: "red"] |> Enum.map(fn {level, color} ->  %>
    <%= if get_flash(@conn, level) do %>
      <!-- Add any classes generated here to the safelist in tailwind.config.js. -->
      <div class="relative bg-<%= color %>-100 lg:w-1/2 w-full p-5 object-right rounded shadow-xl m-auto mb-5 js-flash">
        <div class="flex justify-between text-<%= color %>-700">
          <div class="flex space-x-3">
            <div class="flex-1 leading-tight font-medium">
              <%= get_flash(@conn, level) %>
            </div>
          </div>
          <div class="flex-none js-flash-closer cursor-pointer underline">
            hide
          </div>
        </div>
      </div>
    <% end %>
  <% end) %>
</div>
