<% conn_or_socket = if assigns[:conn], do: assigns[:conn], else: @socket %>

<nav class="flex items-center justify-between flex-wrap p-2 w-full border-gray-400 border-b-2">
  <div class="flex items-center flex-no-shrink mr-6">
    <a class="no-underline border rounded border-transparent hover:border-gray-500 p-1 hover:no-underline" href="/">
      <img src="/images/logo-leche-vitrine.png" width="403" height="59">
    </a>
  </div>

  <div class="block lg:hidden">
    <button id="nav-toggle" class="flex items-center px-4 py-2 border rounded border-gray-200 hover:border-gray-500">
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
      </svg>
    </button>
  </div>

  <div class="flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
    <ul class="list-reset lg:flex justify-end flex-1 items-center">
      <%# Friendly name %>
      <%= if current_user = current_user(conn_or_socket) do %>
        <li class="mr-3 sm:text-right">
          <a class="text-sm inline-block py-2 px-4 no-underline border rounded border-transparent hover:border-gray-500" href="<%= Routes.account_path(@conn, :index) %>">
            <div>Hello,</div>
            <div><%= User.friendly_name(current_user) %></div>
          </a>
      <% end %>
      
      <%# Runs for organizers %>
      <%= if current_user(conn_or_socket) do %>
        <li class="mr-3 sm:text-right">
          <%= link to: Routes.run_path(conn_or_socket, :index),
          class: "inline-block no-underline py-2 px-4 border rounded border-transparent hover:border-gray-500"
          do %>
            <div>
              <span class="text-lg fas fa-truck"></span>
              <span class="text-lg rounded-full h-4 w-4 items-center justify-center">My runs</span>
            </div>
          <% end %>
        </li>
      <% end %>

      <%# Orders for logged in users %>
      <%= if current_user(conn_or_socket) do %>
        <li class="mr-3 sm:text-right">
          <%= link to: Routes.order_path(conn_or_socket, :index),
          class: "inline-block no-underline py-2 px-4 border rounded border-transparent hover:border-gray-500"
          do %>
            <div>
              <span class="text-lg fas fa-boxes"></span>
              <span class="text-lg rounded-full h-4 w-4 items-center justify-center">My orders</span>
            </div>
          <% end %>
        </li>
      <% end %>

      <%# Admin panel %>
      <%= if has_role?(conn_or_socket, :admin) do %>
        <li class="mr-3 sm:text-right">
          <a class="inline-block py-2 px-4 no-underline border rounded border-transparent hover:border-gray-500" href="/admin">Admin</a>
        </li>
      <% end %>
      
      <%# Sign out / log in / sign up %>
      <%= if current_user(conn_or_socket) do %>
        <li class="mr-3 sm:text-right">
          <%= link "Sign Out",
          to: Routes.pow_session_path(conn_or_socket, :delete),
          method: :delete,
          class: "inline-block no-underline py-2 px-4 border rounded border-transparent hover:border-gray-500"
          %>
        </li>
      <% else %>
        <li class="mr-3 sm:text-right">
          <%= link "Log In",
          to: Routes.pow_session_path(conn_or_socket, :new),
          class: "inline-block no-underline py-2 px-4 border rounded border-transparent hover:border-gray-500"
          %>
        </li>
        <li class="mr-3 sm:text-right">
          <%= link "Sign Up",
          to: Routes.registration_path(conn_or_socket, :new),
          class: "inline-block no-underline py-2 px-4 border rounded border-transparent hover:border-gray-500"
          %>
        </li>
      <% end %>

      <%# Cart %>
      <li class="mr-3 sm:text-right">
        <%= link to: Routes.cart_path(conn_or_socket, :index),
            class: "inline-block no-underline py-2 px-4 border rounded border-transparent hover:border-gray-500"
            do %>
          <div>
            <span class="text-lg fas fa-shopping-cart"></span>
            <span class="text-lg rounded-full h-4 w-4 items-center justify-center">
              <%= Enum.reduce(@cart_lines, 0, &(&1.quantity + &2)) %>
            </span>
          </div>
          <div>
            Cart
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
