Hello,

A password reset has been requested on https://leche-vitrine.abstractbinary.org/

Please use the following link to reset your password:

<%= @url %>

You can disregard this email if you didn't request a password reset.

Cheers
The Lèche-vitrine team
