<%= preview do %>
  Password reset instructions.
<% end %>

<%= row do %>
  <%= col 1, of: 1 do %>
    <%= h1 do %>
      Hello,
    <% end %>

    <%= p do %>
      A password reset has been requested on <a href="https://leche-vitrine.abstractbinary.org/">Lèche-vitrine</a>.
    <% end %>

    <%= p do %>
      Please use the following link to reset your password:
    <% end %>

    <%= styled_button href: @url do %>
      Reset my password
    <% end %>

    <%= p do %>
      You can disregard this email if you didn't request a password reset.
    <% end %>

    <%= p do %>
      Cheers,
    <% end %>

    <%= p do %>
      The Lèche-vitrine team
    <% end %>
  <% end %>
<% end %>
