<main>
  <%= render AppWeb.SearchView, "_search_bar.html", assigns %>

  <section class="pb-10 mx-8">
    <div class="container">
      <h1 class="text-serif text-4xl text-purple-600 font-bold">Cart</h1>
    </div>
    <div class="container mx-auto">
      <%= if Enum.empty?(@cart_lines) do %>
        <div>Your cart is empty</div>
      <% else %>
        <table class="w-full">
          <thead>
            <tr class="border-b-2 border-gray-500">
              <th class="w-2/4 text-3xl">Item</th>
              <th class="w-1/4 text-3xl">Quantity</th>
              <th class="w-1/4 text-3xl">Total</th>
            </tr>
          </thead>
          <tbody>
            <%= for cart_line <- @cart_lines do %>
              <tr>
                <td class="py-4 flex flex-row items-center">
                  <div class="h-48 w-64">
                    <%= if image_url = cart_line.product.main_thumbnail do %>
                      <img src="<%= image_url %>" alt="<%= cart_line.product.description %>" class="h-full m-auto">
                    <% else %>
                      <div class="h-full w-full bg-gray-200 flex items-center">
                        <div class="flex-grow text-center text-3xl text-gray-600 p-2"><%= cart_line.product.description %></div>
                      </div>
                    <% end %>
                  </div>
                  <div class="ml-4">
                    <div class="font-bold text-xl"><%= cart_line.product.description %>, <%= cart_line.product.units_per_case %> x <%= cart_line.product.pack_size %><%= cart_line.product.unit %></div>
                    <div>by <%= cart_line.product.brand %></div>

                    <div class="mt-4 grid grid-cols-2 grid-rows-auto">
                      <div class="font-bold mr-4"><%= cart_line.product.wholesaler %></div>
                      <%= format_price(cart_line.product.case_price) %>

                      <% vat_per_case = Product.vat_per_case(cart_line.product) %>
                      <%= if Decimal.compare(0, vat_per_case) == :lt  do %>
                      <div class="font-bold mr-4">VAT</div>
                      <%= format_price(vat_per_case) %>
                      <%end%>

                      <div class="font-bold mr-4">RRP (case) </div>
                      <%= format_price(Product.indicative_rrp_per_case(cart_line.product)) %>

                    </div>
                  </div>
                </td>
                <td>
                  <div class="font-bold text-2xl text-center">
                    <%= form_for :cart,
                        Routes.cart_path(@conn, :update, return_to: @conn.request_path),
                        [method: :post],
                        fn f -> %>
                      <%= number_input f,
                          :qty,
                          value: cart_line.quantity,
                          min: 0,
                          class: "w-20 inline border border-gray-400 pl-4" %>
                      <%= hidden_input f, :product, value: cart_line.product.id %>
                      <%= submit "Update", class: "px-4 text-base underline" %>
                    <% end %>
                  </div>
                  <div class="text-center">
                    <%= form_for :cart,
                        Routes.cart_path(@conn, :update, return_to: @conn.request_path),
                        [method: :post],
                        fn f -> %>
                      <%= hidden_input f, :qty, value: 0 %>
                      <%= hidden_input f, :product, value: cart_line.product.id %>
                      <%= submit "Remove", class: "px-4 text-small text-red-500 underline" %>
                    <% end %>
                  </div>
                  <%= if cart_line.product.units_per_case do %>
                    <div class="text-center">
                      <%= cart_line.quantity
                          |> Decimal.mult(cart_line.product.units_per_case)
                          |> format_quantity()
                      %> units total
                    </div>
                    <%= if valid_decimal(cart_line.product.pack_size) do %>
                      <div class="text-center">
                        <%= cart_line.quantity
                            |> Decimal.mult(cart_line.product.units_per_case)
                            |> Decimal.mult(cart_line.product.pack_size)
                            |> format_quantity()
                        %> <%= cart_line.product.unit %>
                      </div>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <div>
                    <%= CartLine.total_price(cart_line)
                        |> format_price(classes: ["text-2xl", "justify-center"]) %>
                  </div>
                  <%= if savings = CartLine.savings(cart_line) do %>
                    <div class="flex items-center justify-center group">
                      <div class="mr-2">Savings:</div>
                      <%= savings |> format_price(classes: ["justify-center"]) %>
                      <span class="ml-2 opacity-0 group-hover:opacity-100 text-gray-600">
                        vs RRP
                      </span>
                    </div>
                  <% end %>

                </td>
              </tr>
            <% end %>

            <tr class="border-t-2 border-gray-500 group">
              <th class="text-3xl">
                Total
              </th>
              <td>
                <div class="mc-2 opacity-0 group-hover:opacity-100 text-gray-600">
                i.e. what you pay including fees and taxes
                </div>
              </td>
              <td>
                <div class="flex items-center justify-center text-3xl">
                  <%= @cart_total_price  |> format_price(classes: ["justify-center"]) %>
                </div>
              </td>
            </tr>

            <%= if total_savings = total_savings(@cart_lines) do %>
            <tr class="group">
              <th class="text-xl">
                Savings
              </th>
              <td>
                <div class="mc-2 opacity-0 group-hover:opacity-100 text-gray-600">
                  i.e. what you save vs RRP
                </div>
              </td>
              <td>
                <div class="flex items-center justify-center text-xl">
                  <%= Decimal.sub(total_savings, @website_fee) |> format_price(classes: ["justify-center"]) %>
                </div>
              </td>
            </tr>
            <% end %>

            <tr class="group">
              <th class="text-xl">
                VAT
              </th>
              <td>
                <div class="mc-2 opacity-0 group-hover:opacity-100 text-gray-600">
                  i.e. the tax part of what you pay
                </div>
              </td>
              <td>
                <div class="flex items-center justify-center text-xl">
                  <%= total_vat(@cart_lines) |> format_price(classes: ["justify-center"])%>
                </div>
              </td>
            </tr>

            <tr class="group">
              <th>
                <div class="text-2xl">
                  Lèche-vitrine fee
                </div>
              </th>
              <td>
                <div class="mc-2 opacity-0 group-hover:opacity-100 text-gray-600">
                  i.e. choose what you pay us
                </div>
              </td>
              <td>
                <%= form_for :website_fee,
                  Routes.cart_path(@conn, :index),
                  [method: :get, onchange: "this.submit()"],
                  fn f -> %>

                  <div class="flex flex-row items-center justify-center">
                    <div class="w-30">
                      <%= styled_input f,
                        :website_fee,
                        [input_helper: :select, label: "", selected: Decimal.to_string(@website_fee)],
                        @website_fee_options |> Enum.map(fn fee -> [value: Decimal.to_string(fee), key: format_price_plain(fee)] end) %>
                    </div>
                    <noscript>
                      <%= submit "Update", class: "px-4 text-base underline" %>
                  </noscript>
                  </div>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>

    <%= if !Enum.empty?(@cart_lines) do %>
      <div class="container mx-auto mt-4">
        <%= form_for :checkout,
          Routes.billing_path(
            @conn,
            :checkout,
            website_fee: @website_fee |> Decimal.to_string(),
            return_to: "#{@conn.request_path}?#{@conn.query_string}"),
          fn f -> %>
          <div class="flex justify-end">
            <div class="border-2 border-gray-500 p-4">
              <%= styled_input f,
              :run_id,
              [input_helper: :select, label: "Select run:"],
              @participating_runs
              |> Enum.map(fn run ->
                {"#{run.address.address_line_1}, delivery on #{run.estimated_delivery}", run.id}
                end) %>

              <%= submit "Checkout",
              class: "text-sm inline-block py-2 px-4 no-underline border rounded border-gray-500 bg-yellow-500 hover:bg-green-500 hover:text-white" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end%>
  </section>
</main>
