<%= form_for @changeset, @action, [], fn f -> %>
  <div>

    <%= styled_input f, :country %>

    <%= styled_input f, :full_name %>

    <%= styled_input f, :phone_number %>

    <%= styled_input f, :postcode %>

    <%= styled_input f, :address_line_1 %>

    <%= styled_input f, :address_line_2 %>

    <%= styled_input f, :city %>

    <%= styled_input f, :delivery_instruction, input_helper: :textarea %>

    <div>
      <%= styled_button "Save" %>
    </div>
  </div>
<% end %>
