<div class="p-6 container mx-auto">
  <div class="flex pb-6">
    <div class="w-/12 flex-1 text-4xl">
      <h1 class="px-4 -mb-2 mt-2">Your Addresses</h1>
    </div>
    <div class="w-/12 text-4xl text-right px-4">
      <%= styled_button_link "Add Address", to: Routes.address_path(@conn, :new), theme: :next_step %>
    </div>
  </div>

  <div class="shadow rounded px-1 py-1 bg-white">
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Country</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Full name</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Phone number</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Postcode</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Address line 1</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Address line 2</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">City</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Delivery instruction</th>

          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"></th>
        </tr>
      </thead>
      <tbody>
        <%= case @addresses do %>
          <% [] -> %>
            <tr>
              <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm" colspan="9">
                No results.
              </td>
            </tr>
            <% _ -> %>
              <%= for address <- @addresses do %>
                <tr>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= address.country %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= address.full_name %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= address.phone_number %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= address.postcode %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= address.address_line_1 %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= address.address_line_2 %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= address.city %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= address.delivery_instruction %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <div class="flex">
                      <%= styled_button_link "View", to: Routes.address_path(@conn, :show, address) %>
                      <%= styled_button_link "Edit", to: Routes.address_path(@conn, :edit, address), theme: :next_step %>
                      <%= styled_button_link "Delete", to: Routes.address_path(@conn, :delete, address), theme: :delete, method: :delete, data: [confirm: "Are you sure?"] %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
      </tbody>
    </table>
  </div>
</div>
