<div class="p-6 mx-auto max-w-2xl">
  <div class="flex pb-6">
    <div class="w-/12 flex-1 text-4xl">
      <h1 class="-mb-2 mt-2">Address</h1>
    </div>
    <div class="w-/12 text-4xl text-right">
      <%= styled_button_link "Back", to: Routes.address_path(@conn, :index)%>
    </div>
  </div>

  <%= changeset_error_block(@changeset) %>
  <div class="bg-white shadow rounded px-4 py-6 bg-gray-300">
    <%= render "form.html", Map.put(assigns, :action, Routes.address_path(@conn, :create)) %>
  </div>
</div>
