<div class="p-6 mx-auto max-w-2xl">
  <div class="flex pb-6">
    <div class="w-/12 flex-1 text-4xl">
      <h1 class="-mb-2 mt-2">Address</h1>
    </div>
    <div class="w-/12 text-4xl text-right">
      <%= styled_button_link "Edit", to: Routes.address_path(@conn, :edit, @address) %>
      <%= styled_button_link "Back", to: Routes.address_path(@conn, :index) %>
    </div>
  </div>

  <div class="bg-white shadow rounded px-4 py-6 bg-white">
    
      <div>
        <strong>Country:</strong>
        <%= @address.country %>
      </div>
    
      <div>
        <strong>Full name:</strong>
        <%= @address.full_name %>
      </div>
    
      <div>
        <strong>Phone number:</strong>
        <%= @address.phone_number %>
      </div>
    
      <div>
        <strong>Postcode:</strong>
        <%= @address.postcode %>
      </div>
    
      <div>
        <strong>Address line 1:</strong>
        <%= @address.address_line_1 %>
      </div>
    
      <div>
        <strong>Address line 2:</strong>
        <%= @address.address_line_2 %>
      </div>
    
      <div>
        <strong>City:</strong>
        <%= @address.city %>
      </div>
    
      <div>
        <strong>Delivery instruction:</strong>
        <%= @address.delivery_instruction %>
      </div>
    
  </div>
</div>
