<% conn_or_socket = if assigns[:conn], do: assigns[:conn], else: @socket %>
<% query = if assigns[:query], do: assigns[:query], else: "" %>

<section class="pb-10 mx-8">
  <div class="container mx-auto mt-2">
    <%= form_for :search, Routes.search_path(conn_or_socket, :index), [method: :get], fn f -> %>
      <label class="flex flex-wrap block text-xl">
        <%= text_input f,
            :query,
            value: query,
            autofocus: true,
            placeholder: "search products by name or brand",
            class: "flex-grow border border-gray-400 rounded-tl-lg rounded-bl-lg pl-4 focus:border-gray-700" %>
        <%= submit "Search", class: "bg-gray-700 text-white px-4 rounded-tr-lg rounded-br-lg" %>
      </label>
    <% end %>
  </div>
</section>
