<main>
  <%= render "_search_bar.html", assigns %>

  <!-- "Results" section -->
  <section class="pb-10 mx-8 mt-4">
    <div class="container">
      <h1 class="text-serif text-4xl text-purple-600 font-bold">
        <%= length(@products) %> <%= if length(@products) == 1 do %>result<% else %>results<% end %>
      </h1>
    </div>
    <div class="container mx-auto">
      <div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-2 grid-rows-auto gap-4">
        <%= for product <- @products do %>
          <div class="flex flex-col shadow p-4 border border-gray-200 rounded">
            <div class="h-48 flex items-center">
              <%= if image_url = product.main_thumbnail do %>
                <img src="<%= image_url %>" alt="<%= product.description %>" class="max-h-full m-auto">
              <% else %>
                <div class="h-full w-full bg-gray-200 flex items-center">
                  <div class="flex-grow text-center text-3xl text-gray-600 p-2"><%= product.description %></div>
                </div>
              <% end %>
            </div>
            <div class="mt-4 flex-grow">
              <div class="font-bold"><%= product.description %>, <%= product.units_per_case %> x <%= product.pack_size %><%= product.unit %></div>
              <div class="text-sm">by <%= product.brand %></div>
              <div class="mt-4 grid grid-rows-3 grid-rows-auto-min text-base" style="grid-template-columns: repeat(3, auto)">

                <div class="font-bold"><%= product.wholesaler %></div>
                <%= format_price(product.case_price) %>
                <i class="far fa-question-circle" title="This is the price the wholesaler is charging for a case"></i>

                <div class="font-bold">RRP (unit) </div>
                <%= format_price(Product.rrp_per_unit(product)) %>
                <i class="far fa-question-circle" title="This is the typical price you would see an item in shops (retail price)"></i>

                <div class="font-bold">RRP (case) </div>
                <%= format_price(Product.indicative_rrp_per_case(product)) %>
                <i class="far fa-question-circle" title="This is the price you would pay buying a whole case at retail price"></i>

              </div>
              </div>
            <div class="flex flex-row flex-wrap mt-4">
              <%= form_for :cart,
                  Routes.cart_path(@conn, :update, return_to: "#{@conn.request_path}?#{@conn.query_string}"),
                  [method: :post],
              fn f -> %>
                <%= if cart_line = product.cart_line do %>
                  <%= number_input f,
                  :qty,
                  value: cart_line.quantity,
                  min: 0,
                  class: "w-16 inline border border-gray-400 pl-4" %>
                <% else %>
                  <%= number_input f,
                  :qty,
                  value: 0,
                  min: 0,
                  class: "w-16 inline border border-gray-400 pl-4" %>
                <% end %>
                <%= hidden_input f, :product, value: product.id %>
                <%= if product.cart_line do %>
                  <%= submit "Update", class: "px-4 ml-2 underline" %>
                <% else %>
                  <%= submit "Add to cart", class: "px-4 underline" %>
                <% end %>
              <% end %>
              <%= if product.cart_line do %>
                <%= form_for :cart,
                    Routes.cart_path(@conn, :update, return_to: "#{@conn.request_path}?#{@conn.query_string}"),
                    [method: :post],
                    fn f -> %>
                  <%= hidden_input f, :qty, value: 0 %>
                  <%= hidden_input f, :product, value: product.id %>
                  <%= submit "Remove", class: "px-4 text-small text-red-500 underline" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
