<div class="p-6 container mx-auto">
  <div class="flex pb-6">
    <div class="w-/12 flex-1 text-4xl">
      <h1 class="px-4 -mb-2 mt-2">My orders</h1>
    </div>
  </div>

  <div class="shadow rounded px-1 py-1 bg-white">
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Placed at</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Organiser</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Order cutoff</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Estimated delivery</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Total</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Status</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"></th>
        </tr>
      </thead>
      <tbody>
        <%= case @orders do %>
          <%= [] -> %>
            <tr>
              <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm" colspan="6">
                No results.
              </td>
            </tr>
            <% _ -> %>
              <%= for order <- @orders |> Enum.sort_by(& &1.inserted_at, NaiveDateTime) |> Enum.reverse() do %>
                <tr>
                  <%# Share link %>
                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= order.inserted_at |> NaiveDateTime.to_string() %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <% user = order.run.user %>
                    <%= App.User.friendly_name(user)%>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= order.run.order_cutoff %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= order.run.estimated_delivery %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= order.total_price |> format_price %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= order.status%>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <div class="flex">
                      <%= styled_button_link "View", to: Routes.order_path(@conn, :show, order) %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
      </tbody>
    </table>
  </div>
</div>
