<div class="p-6 container mx-auto">
  <div class="flex">
    <div class="w-/12 flex-1 text-4xl mb-2">
      <h1>Order</h1>
    </div>
    <div class="w-/12 text-4xl text-right">
      <%= styled_button_link "Back", to: Routes.order_path(@conn, :index) %>
    </div>
  </div>

  <div class="bg-white shadow rounded px-4 py-6 bg-white">
    <div>
      <strong>Organizer:</strong>
      <%= @order.run.user.display_name %>
    </div>

    <div>
      <strong>Wholesaler:</strong>
      <%= @order.run.wholesaler %>
    </div>

    <div>
      <strong>Placed on:</strong>
      <%= @order.inserted_at |> NaiveDateTime.to_date() %>
    </div>

    <div>
      <strong>Order cutoff:</strong>
      <%= @order.run.order_cutoff %>
    </div>

    <div>
      <strong>Estimated delivery:</strong>
      <%= @order.run.estimated_delivery %>
    </div>

    <div>
      <strong>Delivery address:</strong>
      <% address = App.Delivery.get_address!(@order.run.address.id) %>
      <%= address.address_line_1%>, <%= address.city %>
    </div>
  </div>

  <div class="bg-white shadow rounded px-4 py-6 bg-white mt-8">
    <table class="w-full">
      <thead>
        <tr class="border-b-2 border-gray-500">
          <th class="w-2/4 text-3xl">Item</th>
          <th class="w-1/4 text-3xl">Quantity</th>
          <th class="w-1/4 text-3xl">Total</th>
        </tr>
      </thead>
      <tbody>
        <%= for cart_line <- @order_cart_lines do %>
          <tr>
            <td class="py-4 flex flex-row items-center">
              <div class="h-48 w-64">
                <%= if image_url = cart_line.product.main_thumbnail do %>
                  <img src="<%= image_url %>" alt="<%= cart_line.product.description %>" class="h-full m-auto">
                <% else %>
                  <div class="h-full w-full bg-gray-200 flex items-center">
                    <div class="flex-grow text-center text-3xl text-gray-600 p-2"><%= cart_line.product.description %></div>
                  </div>
                <% end %>
              </div>
              <div class="ml-4">
                <div class="font-bold text-xl"><%= cart_line.product.description %>, <%= cart_line.product.units_per_case %> x <%= cart_line.product.pack_size %><%= cart_line.product.unit %></div>
                <div>by <%= cart_line.product.brand %></div>

                <div class="mt-4 grid grid-cols-2 grid-rows-auto">
                  <div class="font-bold mr-4"><%= cart_line.product.wholesaler %></div>
                  <%= format_price(cart_line.product.case_price) %>

                  <% vat_per_case = Product.vat_per_case(cart_line.product) %>
                  <%= if Decimal.compare(0, vat_per_case) == :lt do %>
                    <div class="font-bold mr-4">VAT</div>
                    <%= format_price(vat_per_case) %>
                  <%end%>

                  <div class="font-bold mr-4">RRP (case) </div>
                  <%= format_price(Product.indicative_rrp_per_case(cart_line.product)) %>

                </div>
              </div>
            </td>
            <td>
              <div class="font-bold text-2xl text-center">
                <%= cart_line.quantity %>
              </div>
              <%= if cart_line.product.units_per_case do %>
                <div class="text-center">
                  <%= cart_line.quantity
                    |> Decimal.mult(cart_line.product.units_per_case)
                    |> format_quantity()
                    %> units total
                </div>
                <%= if valid_decimal(cart_line.product.pack_size) do %>
                  <div class="text-center">
                    <%= cart_line.quantity
                      |> Decimal.mult(cart_line.product.units_per_case)
                      |> Decimal.mult(cart_line.product.pack_size)
                      |> format_quantity()
                      %> <%= cart_line.product.unit %>
                  </div>
                <% end %>
              <% end %>
            </td>
            <td>
              <div>
                <%= CartLine.total_price(cart_line)
                  |> format_price(classes: ["text-2xl", "justify-center"]) %>
              </div>
              <%= if savings = CartLine.savings(cart_line) do %>
                <div class="flex items-center justify-center group">
                  <div class="mr-2">Savings:</div>
                  <%= savings |> format_price(classes: ["justify-center"]) %>
                  <span class="ml-2 opacity-0 group-hover:opacity-100 text-gray-600">
                    vs RRP
                  </span>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>

        <tr class="border-t-2 border-gray-500 group">
          <th class="text-3xl">
            Total
          </th>
          <td>
            <div class="mc-2 opacity-0 group-hover:opacity-100 text-gray-600">
              i.e. what you pay including fees and taxes
            </div>
          </td>
          <td>
            <div class="flex items-center justify-center text-3xl">
              <%= @order.total_price  |> format_price(classes: ["justify-center"]) %>
            </div>
          </td>
        </tr>

        <%= if total_savings = AppWeb.CartView.total_savings(@order_cart_lines) do %>
          <tr class="group">
            <th class="text-xl">
              Savings
            </th>
            <td>
              <div class="mc-2 opacity-0 group-hover:opacity-100 text-gray-600">
                i.e. what you save vs RRP
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center text-xl">
                <%= Decimal.sub(total_savings, @order.website_fee) |> format_price(classes: ["justify-center"]) %>
              </div>
            </td>
          </tr>
        <% end %>

        <tr class="group">
          <th class="text-xl">
            VAT
          </th>
          <td>
            <div class="mc-2 opacity-0 group-hover:opacity-100 text-gray-600">
              i.e. the tax part of what you pay
            </div>
          </td>
          <td>
            <div class="flex items-center justify-center text-xl">
              <%= AppWeb.CartView.total_vat(@order_cart_lines) |> format_price(classes: ["justify-center"])%>
            </div>
          </td>
        </tr>

        <tr class="group">
          <th>
            <div class="text-xl">
              Lèche-vitrine fee
            </div>
          </th>
          <td>
            <div class="mc-2 opacity-0 group-hover:opacity-100 text-gray-600">
              i.e. what you pay this website
            </div>
          </td>
          <td>
            <div class="flex items-center justify-center text-xl">
              <%= @order.website_fee |> format_price() %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
