<section class="w-full">
  <div class="container mx-auto px-4">
    <div class="flex content-center mt-8 justify-center">
      <div class="w-full lg:w-4/12 md:w-8/12 sm:w-full px-4">
        <h1 class="relative text-xl font-semibold text-center pb-6">Update Account</h1>
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow rounded border-2" >
          <%= if @changeset.action do %>
            <div class="flex-auto px-4 lg:px-10 py-6 text-red-500 text-center">
              <p>Oops, something went wrong! Please check the errors below.</p>
            </div>
          <% end %>
          <div class="flex-auto">
            <%= form_for @changeset, Routes.account_path(@conn, :update), [as: :user], fn f -> %>
              <div class="mx-4 mt-4">
                <%= styled_input f, :current_password, type: "password", autocomplete: "current-password" %>
              </div>

              <div class="mx-4">
                <%= styled_input f, :display_name, type: "text", value: @changeset.data.display_name %>
              </div>

              <div class="mx-4">
                <%= styled_input f, Pow.Ecto.Schema.user_id_field(@changeset) %>
              </div>

              <div class="mx-4">
                <%= styled_input f, :password, [label: "New Password", type: "password", autocomplete: "new-password"], nil do %>
                  <div class="password-revealer js-passwordRevealer flex items-center justify-center text-gray-500 bg-gray-200 hover:bg-gray-300 rounded-full mb-1 mr-1">
                    <span class="fa fa-eye inline"></span>
                  </div>
                <% end %>
              </div>

              <div class="p-4 border-t-2">
                <%= styled_button "Save", theme: :next_step %>
                <%= styled_button_link "Cancel", to: Routes.account_path(@conn, :index) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
