<section class="w-full">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap content-center mt-8 justify-center">
      <div class="w-full lg:w-4/12 md:w-8/12 sm:w-full px-4">
        <h1 class="relative text-xl font-semibold text-center pb-6">Account</h1>
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow rounded border-2" >
          <div class="border-b-2 p-4">
            <div class="font-bold">Name:</div>
            <div><%= @user.display_name %></div>
          </div>

          <div class="border-b-2 p-4">
            <div class="font-bold">Email:</div>
            <div>
              <%= @user.email %>
              <%= if PowEmailConfirmation.Plug.email_unconfirmed?(@conn) do %>
                <span class="italic text-yellow-700">(unconfirmed)</span>
              <% else %>
                <span class="italic text-green-700">(confirmed)</span>
              <% end %>
            </div>
          </div>

          <div class="border-b-2 p-4">
            <div class="font-bold">Password:</div>
            <div>********</div>
          </div>

          <div class="p-4">
            <%= styled_button_link "Edit", to: Routes.account_path(@conn, :edit) %>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-4/12 md:w-8/12 sm:w-full px-4">
        <h1 class="relative text-xl font-semibold text-center pb-6">Addresses</h1>
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow rounded border-2" >
          <%= case @addresses do %>
            <% [] -> %>
              <div class="border-b-2 p-4">
                <div class="font-bold">No addresses</div>
              </div>

              <% _ -> %>
                <%= for address <- @addresses do %>

                  <%= link to: Routes.address_path(@conn, :show, address), class: "block border-b-2 p-4" do %>
                    <div><%= address.address_line_1 %></div>
                    <div><%= address.address_line_2 %></div>
                    <div><%= address.city %>, <%= address.postcode %></div>
                  <% end %>

                <% end %>
          <% end %>

          <div class="p-4">
            <%= styled_button_link "View & Edit", to: Routes.address_path(@conn, :index) %>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-4/12 md:w-8/12 sm:w-full px-4">
        <h1 class="relative text-xl font-semibold text-center pb-6">Cart</h1>
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow rounded border-2" >
          <%= case @cart_lines do %>
            <% [] -> %>
              <div class="border-b-2 p-4">
                <div class="font-bold">Your cart is empty</div>
              </div>

              <% _ -> %>
                <%= for cart_line <- @cart_lines do %>

                  <div class="border-b-2 p-4">
                    <div><%= cart_line.quantity %> x <%= cart_line.product.description %></div>
                  </div>

                <% end %>
          <% end %>

          <div class="p-4">
            <%= styled_button_link "View & Edit", to: Routes.cart_path(@conn, :index) %>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-4/12 md:w-8/12 sm:w-full px-4">
        <h1 class="relative text-xl font-semibold text-center pb-6">Orders</h1>
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow rounded border-2" >
          <%= case @orders do %>
            <% [] -> %>
              <div class="border-b-2 p-4">
                <div class="font-bold">You have no orders</div>
              </div>

              <% _ -> %>
                <div class="p-4">
                  <div class="table w-full">
                    <div class="table-row">
                      <div class="table-cell px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Placed on</div>
                      <div class="table-cell px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Organizer</div>
                      <div class="table-cell px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Total</div>
                    </div>
                    <%= for order <- @orders |> Enum.sort_by(& &1.inserted_at, NaiveDateTime) |> Enum.reverse() do %>
                      <%= link to: Routes.order_path(@conn, :show, order), class: "table-row text-center" do %>
                        <div class="table-cell text-center border-t-2">
                          <div class="my-2">
                            <%= order.inserted_at |> NaiveDateTime.to_date() %>
                          </div>
                        </div>
                        <div class="table-cell text-center border-t-2">
                          <div class="my-2">
                            <%= order.run.user.display_name %>
                          </div>
                        </div>
                        <div class="table-cell text-base border-t-2">
                          <div class="my-2 flex items-center justify-center">
                            <%= order.total_price |> format_price() %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
          <% end %>

          <div class="pl-4 pb-4">
            <%= styled_button_link "View & Edit", to: Routes.order_path(@conn, :index) %>
          </div>
        </div>
      </div>

      <%= if has_role?(@conn, :organizer) do %>
        <div class="w-full lg:w-4/12 md:w-8/12 sm:w-full px-4">
          <h1 class="relative text-xl font-semibold text-center pb-6">Organizing Runs</h1>
          <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow rounded border-2" >
            <%= case @runs do %>
              <% [] -> %>
                <div class="border-b-2 p-4">
                  <div class="font-bold">You have not oranized any runs</div>
                </div>

                <% _ -> %>
                  <div class="p-4">
                    <div class="table w-full">
                      <div class="table-row">
                        <div class="table-cell px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Cutoff</div>
                        <div class="table-cell px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Delivery</div>
                        <div class="table-cell px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Wholesaler</div>
                      </div>
                      <%= for run <- @runs do %>
                        <%= link to: Routes.run_path(@conn, :show, run), class: "table-row" do %>
                          <div class="table-cell text-center border-t-2">
                            <div class="my-2"><%= run.order_cutoff %></div>
                          </div>
                          <div class="table-cell text-center border-t-2">
                            <div class="my-2"><%= run.estimated_delivery %></div>
                          </div>
                          <div class="table-cell text-center border-t-2">
                            <div class="my-2"><%= run.wholesaler %></div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
            <% end %>

            <div class="pl-4 pb-4">
              <%= styled_button_link "View & Edit", to: Routes.run_path(@conn, :index) %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="w-full lg:w-4/12 md:w-8/12 sm:w-full px-4">
        <h1 class="relative text-xl font-semibold text-center pb-6">Runs</h1>
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow rounded border-2" >
          <%= case @participating_runs do %>
            <% [] -> %>
              <div class="border-b-2 p-4">
                <div class="font-bold">You are not participating in any runs</div>
              </div>

              <% _ -> %>
                <div class="p-4">
                  <div class="table w-full">
                    <div class="table-row">
                      <div class="table-cell px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Delivery</div>
                      <div class="table-cell px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Organizer</div>
                      <div class="table-cell px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Address</div>
                    </div>
                    <%= for run <- @participating_runs do %>
                      <%= if has_role?(@conn, :organizer) do %>
                        <%= link to: Routes.run_path(@conn, :show, run), class: "table-row" do %>
                          <div class="table-cell border-t-2 text-center">
                            <div class="my-2"><%= run.estimated_delivery %></div>
                          </div>
                          <div class="table-cell border-t-2 text-center">
                            <div class="my-2"><%= run.user.display_name %></div>
                          </div>
                          <div class="table-cell border-t-2 text-center">
                            <div class="my-2"><%= run.address.address_line_1 %></div>
                          </div>
                        <% end %>
                      <% else %>
                        <div class="table-row">
                          <div class="table-cell border-t-2 text-center">
                            <div class="my-2"><%= run.estimated_delivery %></div>
                          </div>
                          <div class="table-cell border-t-2 text-center">
                            <div class="my-2"><%= run.user.display_name %></div>
                          </div>
                          <div class="table-cell border-t-2 text-center">
                            <div class="my-2"><%= run.address.address_line_1 %></div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
          <% end %>

          <div class="pl-4 pb-4">
            <%= styled_button_link "View & Edit", to: Routes.join_path(@conn, :index) %>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-4/12 md:w-8/12 sm:w-full px-4">
      </div>
    </div>
  </div>
  </div>
</section>
