<%= form_for @changeset, @action, [], fn f -> %>
  <div>

    <%= styled_input f, :wholesaler, [input_helper: :select], @wholesalers %>

    <%= styled_input f, :order_cutoff, input_helper: :date_select %>

    <%= styled_input f, :estimated_delivery, input_helper: :date_select %>

    <%= styled_input f, :minimum_order, input_helper: :number_input, step: "any" %>

    <%= styled_input f, :minimum_order_per_participant, input_helper: :number_input, step: "any" %>

    <%= styled_input f, :address_id, [input_helper: :select], Enum.map(@addresses, &{"#{&1.address_line_1}, #{&1.city}", &1.id}) %>

    <div>
      <%= styled_button "Go!" %>
    </div>
  </div>
<% end %>
