<%= if has_role?(@conn, :organizer) do %>
  <div class="p-6 container mx-auto">
    <div class="flex pb-6">
      <div class="w-/12 flex-1 text-4xl">
        <h1 class="px-4 -mb-2 mt-2">Organizing runs</h1>
      </div>
      <div class="w-/12 text-4xl text-right px-4">
        <%= styled_button_link "New Run", to: Routes.run_path(@conn, :new) %>
      </div>
    </div>

    <div class="shadow rounded px-1 py-1 bg-white">
      <table class="min-w-full leading-normal">
        <thead>
          <tr>
            <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Share link</th>

            <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Wholesaler</th>
            <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Order cutoff</th>
            <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Estimated delivery</th>
            <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Minimum order</th>
            <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Minimum order per participant</th>

            <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"></th>
          </tr>
        </thead>
        <tbody>
          <%= case @runs do %>
            <%= [] -> %>
              <tr>
                <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm" colspan="6">
                  No results.
                </td>
              </tr>
              <% _ -> %>
                <%= for run <- @runs do %>
                  <tr>
                    <%# Share link %>
                    <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                      <clipboard-copy for="join-path" class="btn btn-sm BtnGroup-item">
                        <i class="fa fa-copy"> </i>
                        <strong>Copy</strong>
                      </clipboard-copy>
                      <div id="join-path" style="display:none"><%= Routes.join_url(@conn, :join, run.id) %></div>
                    </td>

                    <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                      <%= run.wholesaler %>
                    </td>

                    <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                      <%= run.order_cutoff %>
                    </td>

                    <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                      <%= run.estimated_delivery %>
                    </td>

                    <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                      <%= run.minimum_order %>
                    </td>

                    <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                      <%= run.minimum_order_per_participant %>
                    </td>

                    <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                      <div class="flex">
                        <%= styled_button_link "View", to: Routes.run_path(@conn, :show, run) %>
                        <%= styled_button_link "Edit", to: Routes.run_path(@conn, :edit, run), theme: :next_step %>
                        <%= styled_button_link "Delete", to: Routes.run_path(@conn, :delete, run), theme: :delete, method: :delete, data: [confirm: "Are you sure?"] %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="p-6 container mx-auto">
  <div class="flex pb-6">
    <div class="w-/12 flex-1 text-4xl">
      <h1 class="px-4 -mb-2 mt-2">Participating runs</h1>
    </div>
  </div>

  <div class="shadow rounded px-1 py-1 bg-white">
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Organizer</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Wholesaler</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Order cutoff</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Estimated delivery</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Minimum order</th>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Minimum order per participant</th>

          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"></th>
        </tr>
      </thead>
      <tbody>
        <%= case @participating_runs do %>
          <%= [] -> %>
            <tr>
              <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm" colspan="6">
                No results.
              </td>
            </tr>
            <% _ -> %>
              <%= for run <- @participating_runs do %>
                <tr>
                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= run.user.display_name %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= run.wholesaler %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= run.order_cutoff %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= run.estimated_delivery %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= run.minimum_order %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= run.minimum_order_per_participant %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <div class="flex">
                      <%= styled_button_link "Leave", to: Routes.join_path(@conn, :leave, run.id), theme: :delete, method: :delete %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
      </tbody>
    </table>
  </div>
</div>
