<div class="p-6 mx-auto max-w-2xl">
  <div class="flex">
    <div class="w-/12 flex-1 text-4xl mb-2">
      <h1>Run</h1>
    </div>
    <div class="w-/12 text-4xl text-right">
      <%= styled_button_link "Edit", to: Routes.run_path(@conn, :edit, @run), theme: :next_step %>
      <%= styled_button_link "Back", to: Routes.run_path(@conn, :index) %>
    </div>
  </div>

  <div class="bg-white shadow rounded px-4 py-6 bg-white">
    
    <div>
      <strong>Wholesaler:</strong>
      <%= @run.wholesaler %>
    </div>
    
    <div>
      <strong>Order cutoff:</strong>
      <%= @run.order_cutoff %>
    </div>
    
    <div>
      <strong>Estimated delivery:</strong>
      <%= @run.estimated_delivery %>
    </div>
    
    <div>
      <strong>Minimum order:</strong>
      <%= @run.minimum_order %>
    </div>
    
    <div>
      <strong>Minimum order per participant:</strong>
      <%= @run.minimum_order_per_participant %>
    </div>

    <div>
      <strong>Delivery address:</strong>
      <% address = App.Delivery.get_address!(@run.address.id) %>
      <%= address.address_line_1%>, <%= address.city %>
    </div>

  </div>

  <div class="w-/12 flex-1 text-4xl mt-6 mb-2">
    <h1>Participants</h1>
  </div>

  <div class="shadow rounded px-1 py-1 bg-white">
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Who</th>

          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Order value</th>

          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Order size</th>
        </tr>
      </thead>
      <tbody>
        <%= case @participants do %>
          <%= [] -> %>
            <tr>
              <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm" colspan="6">
                No results.
              </td>
            </tr>
            <% _ -> %>
              <%= for participant <- @participants do %>
                <tr>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= App.User.friendly_name(participant.user) %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= "TODO" %>
                  </td>

                  <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                    <%= "TODO" %>
                  </td>

                </tr>
              <% end %>
            <% end %>
      </tbody>
    </table>
  </div>
</div>
