<section class="w-full">
  <div class="container mx-auto px-4">
    <div class="flex content-center mt-8 justify-center">
      <div class="w-full lg:w-4/12 md:w-8/12 sm:w-full px-4">
        <h1 class="relative text-xl font-semibold text-center pb-6">Reset Password</h1>
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow rounded border-2" >
          <%= if @changeset.action do %>
            <div class="flex-auto px-4 lg:px-10 py-6 text-red-500 text-center">
              <p>Oops, something went wrong! Please check the errors below.</p>
            </div>
          <% end %>
          <div class="flex-auto">
            <%= form_for @changeset, Routes.reset_password_path(@conn, :save_new_password, @token), [as: :user], fn f -> %>
              <div class="mx-4 mt-4">
                <%= styled_input f, :password, [label: "New Password", type: "password", autocomplete: "new-password"], nil do %>
                  <div class="password-revealer js-passwordRevealer flex items-center justify-center text-gray-500 bg-gray-200 hover:bg-gray-300 rounded-full mb-1 mr-1">
                    <span class="fa fa-eye inline"></span>
                  </div>
                <% end %>
              </div>
              <div class="p-4 border-t-2">
                <%= submit "Save New Password", class: "text-sm inline-block py-2 px-4 no-underline border rounded border-gray-500 bg-yellow-500 hover:bg-green-500 hover:text-white" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
