<%= preview do %>
  Please confirm your email address.
<% end %>

<%= row do %>
  <%= col 1, of: 1 do %>
    <%= h1 do %>
      Hello,
    <% end %>

    <%= p do %>
      Thank you for signing up with <a href="https://leche-vitrine.abstractbinary.org/">Lèche-vitrine</a>.
    <% end %>

    <%= p do %>
      Please use the following link to confirm your e-mail address:
    <% end %>

    <%= styled_button href: @url do %>
      Confirm my email address
    <% end %>

    <%= p do %>
      Cheers,
    <% end %>

    <%= p do %>
      The Lèche-vitrine team
    <% end %>
  <% end %>
<% end %>
